body{
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    font-family: 'Montserrat', sans-serif, verdana;
    font-family: 'Open Sans', sans-serif, verdana;
}


h4{
    font-size: 20px;
}

h2{
    margin: 0;
    padding: 0;
}

#certifications{
    text-align: right;
    border: 1px solid #ccff00;
    margin: 15px;
    padding: 15px;
}


#whyTennis{
    border: 1px solid #ccff00;
    margin: 15px;
    padding: 15px;
}


#experiences{
    border: 1px solid #ccff00;
    margin: 15px;
    padding: 15px;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #ccff00;
    font-family: 'Montserrat', sans-serif, verdana;
    font-family: 'Open Sans', sans-serif, verdana;
    color: black;
}


.navlinks{
    display: flex;
    justify-content: space-around;
    width: 50%;
}


.navlinks li{
    list-style: none;
}


.navlinks a{
    text-decoration: none;
}


a{
    text-decoration: none;
}


a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}


.navlinks a:hover{
    color: black;
    font-weight: bold;
}

.navlinks a:visited{
    color: black;
    font-weight: bold;
}


#contacth2{
    margin: 15px;
    padding: 15px;
}


.contactBox{
    width: 525px;
    background-color: #ccff00aa;
    box-shadow: 0 0 20px 0 #999;
    justify-content: space-around;
    margin: 15px;
    padding: 15px;
    border-radius: 10%;
}


.inputField{
    width: 500px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
}


.textareaField{
    height: 150px;
    padding-top: 15px;
    resize: none;
}


.btn{
    border-radius: 20px;
    color: #000;
    margin-top: 18px;
    padding: 10px;
    background-color: #ccff00;
    font-size: 12px;
    border: none;
    cursor: pointer;
}


.fila {
    display: flex;
    margin: 5px;
    padding: 5px;
}


.columna {
    flex: 33.33%;
    padding: 5px;
}
